@charset "UTF-8";

div[data-page=game] {
  .content-block > p {
    margin: 3px 0;
  }

  .panel-list-block {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .panel-list {
      display: block;

      .panel-row {
        margin: 0;

        .panel-item-wrap {
          text-align: center;

          .panel-item {
            display: inline-block;
            margin: 4px;
            width: 50px;
            height: 50px;
          }
        }
      }
    }
  }
}

.select-color-popup {
  border-top: 1px solid #ff9800;
  height: auto;
  background: #ffffff url(../img/GM2.png) no-repeat 102% -70%;
  background-size: 25% auto;
}

.select-success-modal {
  color: green;
}

.select-fail-modal {
  color: red;
}

.player-modal {
  background: #ffffff url(../img/player2.png) no-repeat 107% 2%;
  background-size: 35% auto;
}
