@charset "UTF-8";

div[data-page=index] {
  .page-content {
    background-image: url('../img/top-image.png');
    background-size: 100% auto;
  }

  .top-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15px;
  }
}

