@charset "UTF-8";

div[data-page=index] {
  .page-content {
    background: url('../img/top-image.png') no-repeat center;
    background-size: contain;
  }

  .top-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

